<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>University scheduler</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous"/>
</head>
<body>
<div th:replace="fragments/header :: header"></div>

<div class="container">
    <div class="row">
        <div class="col-lg-10 mt-5 mb-5">
            <form th:action="@{/mvc/lector/create}" method="post" th:object="${lector}"
                  style="max-width: 300px;">
                <p>
                    Name
                    <input class="form-control" th:field="*{lectorName}"
                           placeholder="name"
                           required
                           autofocus/>
                </p>
                <p>
                    Login
                    <input class="form-control" th:field="*{login}"
                           placeholder="login"
                           required
                           autofocus/>
                </p>
                <p>
                    Password
                    <input class="form-control" th:field="*{password}"
                           placeholder="password"
                           required
                           autofocus/>
                </p>
                <p>
                    Cathedra
                    <input class="form-control" th:field="*{cathedra}"
                           placeholder="course_id"
                           required/>
                </p>
                <p>
                    <input type="submit" value="Submit" class="btn btn-primary"/>
                </p>
            </form>
        </div>
        <div/>
</body>
</html>